.flashy {
  color: AntiqueWhite;
}

.large {
  font-size: 2em;
  text-transform: uppercase;
}

.bordered {
  border: 4px dotted purple;
  border-radius: 20px;
}

.red {
  color: red;
}

pre {
	color:#75C33C;
}

#output {
	display: inline;
}

footer {
  background-color: salmon;
}