.flashy {
  color: blue;
}

.large {
  font-size: 2em;
  text-transform: uppercase;
}

.bordered {
  border: 4px dotted purple;
}

.rounded {
	/*border: 4px dashed red;*/
  	border-radius: 20px;
}

#obi-wan {
  font-family: Helvetica;
  padding: 5px;
}

.red {
  color: red;
}

pre {
	color:#75C33C;
}

#output {
	display: inline;
}